{{ define "Edit" }} {{ template "Header" }}
<div class="bg-gray-800 w-4/5 rounded-lg flex flex-col mx-auto p-10 mt-10">
  {{if .Errors}}
  <ul>
    {{ range .Errors }}
    <li class="text-red-500 text-lg">{{ . }}</li>
    {{ end }}
    <a
      href="javascript:history.back()"
      class="text-blue-500 text-lg uppercase mt-10"
      >tentar novamente</a
    >
  </ul>
  {{else}}
  <h2 class="text-lg text-gray-400 font-semibold mb-3">
    Editar estudante: {{.Student.Name}}
  </h2>
  <form
    method="POST"
    action="/update"
    class="relative w-full p-10 flex flex-col items-center justify-center"
  >
    <div class="flex flex-col mb-5 w-3/5">
      <input type="hidden" name="uid" value="{{.Student.ID}}" />
      <div class="flex items-center">
        <label class="capitalize text-lg text-gray-200 mr-2"> Nome </label>
        <input
          type="text"
          class="w-full bg-gray-900 outline-none px-3 py-2 rounded-md text-lg text-gray-300"
          placeholder="Nome do aluno"
          name="name"
          value="{{.Student.Name}}"
        />
      </div>
    </div>
    <div class="flex flex-col mb-5 w-3/5">
      <div class="flex items-center">
        <label class="capitalize text-lg text-gray-200 mr-2"> Idade </label>
        <input
          type="number"
          class="w-full bg-gray-900 outline-none px-3 py-2 rounded-md text-lg text-gray-300"
          placeholder="Idade"
          value="{{.Student.Age}}"
          name="age"
        />
      </div>
    </div>
    <div class="relative flex flex-col items-center mb-5 w-3/5">
      <input
        type="submit"
        class="bg-blue-600 text-white uppercase text-lg px-3 py-2 rounded-md hover:bg-blue-800 cursor-pointer absolute right-0"
        value="editar"
      />
    </div>
  </form>

  {{ end}}
</div>
{{ template "Footer" }} {{ end }}
