{{ define "Show" }}
  {{ template "Header" }}
    <div class="bg-gray-800 w-4/5 rounded-lg flex flex-col mx-auto p-10 mt-10">
      <h2 class="text-lg text-gray-400 font-semibold mb-3">Informações do estudante</h2>
      <div class="p-10 flex flex-col gap-3">
        <ul class="text-gray-300">
          <li>ID: {{.ID}}</li>
          <li>NOME: {{.Name}}</li>
          <li>IDADE: {{.Age}}</li>
        </ul>
        <a href="/edit?id={{ .ID }}" class=" w-56 bg-blue-600 text-white uppercase text-sm px-3 py-2 text-center rounded-md hover:bg-blue-800 cursor-pointer">Edit</a></p>  
      </div>
    </div>
  {{ template "Footer" }}
{{ end }}